@use "palette.scss" as i;
body {
    margin-top: 5vw;
    margin-right: auto;
    margin-left: auto;
    color: i.$viridian-green;
    font-weight: bold;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: i.$number;
}

@media screen and (min-width: 320px) {
    body {
        max-width: 320px;
    }
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-content: center;
    justify-content: center;
    column-gap: 1vw;
    row-gap: 1vw;
    border: 2px solid black;
    padding: 6vw 1vw;
    // padding-bottom: 10px;
    border-radius: 8px;
    background-color: i.$body;
    max-height: 540px;
}

.display {
    display: grid;
    justify-content: end;
    align-content: center;
    border-radius: 1vw;
    grid-column: 1 / span 4;
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px i.$number;
    height: 1.5rem;
}

.item {
    display: grid;
    border: 2px solid i.$body;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    font-size: large;
    box-shadow: 0px 0px 3px i.$number;
    max-height: 60px;
}

.logo {
    width: 5rem;
    height: 1rem;
    display: flex;
    justify-self: end;
    grid-column: 3 / span 2;
    background-image: url("/asset/casio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item:hover {
    cursor: pointer;
}